*, html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
}

body h1 {
  text-align: center;
  margin: 4.188rem 0 2rem 0;
  width: 100%;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.75rem;
  letter-spacing: 0.095em;
  color: #000000;
}

body #section-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto 0;
  width: 100%;
  /* Setting height of 80% parent's height */
  height: 80vh;
  /* Breaking words when width got limited */
  word-break: break-word;
}

body #first-right-card {
  background-image: url("./assets//image2.png");
}

body #second-right-card {
  background-image: url("./assets//image3.png");
}

body #third-right-card {
  background-image: url("./assets//image4.png");
}

body #fourth-right-card {
  background-image: url("./assets//image5.png");
}

body .image-card {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* Positioning content inside cards */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

body #section-container #single-image-container {
  background-image: url("./assets/image1.png");
  padding: 4.688rem;
}

body #section-container h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.8125rem;
  letter-spacing: 0.2em;
  color: #FFFFFF;
  margin: 2rem 0;
}

body #section-container button {
  background-color: transparent;
  border: 2px solid #FFFFFF;
  padding: 1.25rem 1.75rem;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  transition: .5s;
}

#section-container button:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: .5s;
}

body .multiples-images-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: .5rem;
  column-gap: .5rem;
  margin-left: .5rem;
}

.multiples-images-container .multiple-cards {
  padding: 4rem 2rem;
}