*, html, body {
  box-sizing: border-box;
}

body {
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
}

body #section-title {
  margin: 4.188rem 0 2rem 0;
  width: 100%;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.75rem;
  text-align: center;
  letter-spacing: 0.095em;
  color: #000000;
}

body .page-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin: auto 0;
  height: 50rem;
  max-height: 60rem;
}

body #first-right-card {
  background-image: url("./assets//image2.png");
}

body #second-right-card {
  background-image: url("./assets//image3.png");
}

body #third-right-card {
  background-image: url("./assets//image4.png");
}

body #fourth-right-card {
  background-image: url("./assets//image5.png");
}

body .image-card {
  background-size: cover;
}

body .page-container .single-image-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  background-image: url("./assets/image1.png");
  padding: 4.688rem;
}

body .page-container .title-collection {
  margin: 2rem 0;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.8125rem;
  letter-spacing: 0.2em;
  color: #FFFFFF;
}

body .page-container .button-collection {
  border: 2px solid #FFFFFF;
  padding: 1.25rem 1.75rem;
  background-color: transparent;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  transition: .5s;
}

.page-container .button-collection:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: .5s;
}

body .multiples-images-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 0 0 .5rem;
  row-gap: .5rem;
  column-gap: .5rem;
}

.multiples-images-container .multiple-cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 4rem 2rem;
}